mypy==0.770
django==2.2.7
padding==0.5
PyHamcrest==2.0.2
PyYAML==5.3.1
Twisted==20.3.0
argparse==1.4.0
asgiref==3.2.7
attrs==19.3.0
autobahn==20.4.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
dateparser==0.7.4
decorator==4.4.2
djangorestframework==3.10.3
djangorestframework-datatables==0.5.2
djangorestframework-stubs==1.1.0
dnspython==1.16.0
future==0.18.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
llvmlite==0.31.0
mysql-connector-python==8.0.19
mysqlclient==1.4.6
numba==0.48.0
numpy==1.18.2
pprint==0.1
protobuf==3.6.1
pyOpenSSL==19.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-binance==0.7.5
python-dateutil==2.8.1
python-telegram-bot==12.7
pythonnet==2.4.0
pytz==2019.3
regex==2020.4.4
requests==2.23.0
scipy==1.4.1
service-identity==18.1.0
sparse==0.9.1
sqlparse==0.3.1
tornado==6.0.4
txaio==20.4.1
tzlocal==2.0.0
urllib3==1.25.9
zope.interface==5.1.0